.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: white;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.icon {
    font-size: 24px;
    cursor: pointer;
}

.icon :hover{
    transform: scale(1.1);
}

@media (min-height: 500px) and (min-width: 500px) {
    .icon {
        font-size: xxx-large;
    }
}