<div class="modal-overlay" *ngIf="isOpen">
    <div class="modal-container" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <i class="fa fa-times close-icon" (click)="close()"></i>
            <i class="fa fa-redo" (click)="diceRollerService.getRolledDice()"></i>
        </div>

        <div class="modal-content">
            <div *ngFor="let face of diceRollerService.getResultDiceFaces()">
                <img [src]="face.CrestImage">
            </div>
        </div>

        <div class="modal-footer">
            <i class="fa fa-plus" (click)="diceRollerService.addResultDiceToCrest(); close()"></i>
        </div>
    </div>
</div>