<main class="main">
    <div *ngFor="let crest of crests" class="crest-container">
        <div class="icon-top">
            <button (click)="incrementCounter(crest.ID)" [disabled]="crest.Counter >= 10">
                <i class="fas fa-chevron-up"></i>
            </button>
        </div>

        <img [src]="crest.ImageURL" alt="{{ crest.Name }}">
        <p class="counter-container">{{ crest.Counter }}</p>

        <div class="icon-bottom">
            <button (click)="decrementCounter(crest.ID)" [disabled]="crest.Counter < 1">
                <i class="fas fa-chevron-down"></i>
            </button>
        </div>
    </div>    
</main>